spring:
  application:
    name: configserver
  cloud:
    config:
      enabled: true
      server:
        encrypt:
          enabled: false
        git:
          uri: https://github.com/OleksiiDushenin/microservices
          force-pull: true
          search-paths: config-data

server:
  port: 8888
